<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if State != None %}
        <H1>States</H1>
        <UL>
            {% for State in State.values()|sort(attribute="name") %}
            <LI>{{ State.id  }}: <B>{{ State.name }}</B></LI>
            {% endfor %}
        </UL>
        {% elif search_state != None %}
        <H1>State: {{ search_state.name }}</H1>
        <H3>Cities:</H3>
        <UL>        {%- for City in search_state.cities|sort(attribute="name") %}
                    <LI>{{ City.id }}: <B>{{ City.name }}</B></LI>
                    {%- endfor %}
            </UL>
        {% else %}
        <H1>Not Found!</H1>
        {% endif %}
    </BODY>
</HTML>
